<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Main_Form.Properties.Settings.ИС_Поставок_ООО__Дитрикс_СибирьConnectionString"
            connectionString="Data Source=DESKTOP-G183E5M\SQLEXPRESS;Initial Catalog='ИС Поставок ООО &quot;Дитрикс-Сибирь';Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Main_Form.Properties.Settings.ИС_Поставок_ООО__ДитриксСибирь_ConnectionString"
            connectionString="Data Source=DESKTOP-G183E5M\SQLEXPRESS;Initial Catalog='ИС Поставок ООО &quot;ДитриксСибирь&quot;';Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>